anyio==3.7.1
asgiref==3.8.1
certifi==2023.7.22
charset-normalizer==3.2.0
dj-database-url==2.3.0
Django==5.1.4
django-heroku==0.3.1
gunicorn==23.0.0
idna==3.4
psycopg2==2.9.10
pytz==2024.2
sqlparse==0.5.3
urllib3==2.0.4
whitenoise==6.8.2
